.body {
  background-image: url(../../assets/radio.gif);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.body2 {
  background-image: url(../../assets/noise.gif);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  opacity: 0.35;
  background-color: rgba(255, 255, 255, 1);
  height: 100vh;
  width: 100vw;
}

.body2::before {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.click {
  position: absolute;
  z-index: 10;
}

.clickIcon {
  position: absolute;
  z-index: 10;
}
