.myOnAir_container {
  background-color: #d8a3ff;
  width: 80%;
  height: 420px;
  margin: auto;
  margin-top: 20px;
  position: relative;
}

.myOnAir_title {
  color: #000;
  padding-left: 3.8%;
  font-size: 20px;
}
