spring:
  security:
    oauth2:
      client:
        registration:
          kakao:
            client-id: 6994198e0a1efb1a987463241de95a65
            redirect-uri: https://i8b301.p.ssafy.io/api/login/oauth2/code/kakao
            client-authentication-method: POST
            authorization-grant-type: authorization_code
            scope: account_email
            client-name: Kakao
        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id

app:
  auth:
    jwt:
      secret-key: ASDHLKjWDUHASf676SJDfh623DAF8