$radius: 3px;
$boxColor: #742e8e;
$mailColor: #ffffff;
.mail-box {
  position: relative;

  &:hover .mail {
    top: 100%;
    transform: translate(510%, 220%);
  }

  .mail {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(510%, 240%);
    width: 80px;
    height: 40px;
    background: darken($mailColor, 5%);
    border-radius: $radius;
    border: 1px solid $boxColor;
    overflow: hidden;
    transition: transform 0.6s cubic-bezier(0.65, 0, 0.35, 1);

    &::after {
      content: "";
      position: absolute;
      bottom: -80%;
      left: 50%;
      width: 60%;
      height: 140%;
      transform: translate(-52%, -70%) rotate(-45deg) skewX(20deg) skewY(20deg);
      border: 2px solid $boxColor;
      border-radius: inherit;
      background: $mailColor;
    }
  }

  .box {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translate(408%, 620%);
    width: 100px;
    height: 25px;
    background: $boxColor;
    border-radius: 0 0 $radius $radius;

    &::before,
    &::after {
      position: absolute;
      bottom: 98%;
      content: "";
      width: 20%;
      height: 50%;
      background: $boxColor;
      border-radius: $radius $radius 0 0;
    }

    &::after {
      right: 0%;
    }
  }

  .box-back {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(408%, 430%);
    width: 100px;
    height: 25px;
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      bottom: 80%;
      left: 50%;
      width: 100%;
      height: 400%;
      transform: translate(-50%, 80%) rotate(-45deg);
      border: 2px solid $boxColor;
      border-radius: inherit;
      background: $mailColor;
    }
  }
}
