.userCntDiv {
  padding-top: 5px;
  width: 70px;
  height: 25px;
  border: none;
  border-radius: 15px;
  background-color: #ff0000;
  color: black;
  font-size: smaller;
  font-weight: bold;
}

.userCntIcon {
  margin-right: 5px;
  margin-left: 2px;
}
