.button {
  background: #d8a3ff;
  border-radius: 20px;
  color: #000;
  cursor: pointer;
  font-family: "Lato", sans-serif;
  text-align: center;
  height: 40px;
  font-weight: bold;
  // padding: 10px 5px 10px 5px;
}

/* click button hover */
.button:hover {
  background: #d8a3ff;
  color: #000;
}
